
/* Body */
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

/* Container */
.container {
        width: 100vw;
        height: 100vh;
        background: #fff;
        background-image: url(../images/b1.jpg);
        background-size: cover;
	      background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

/* Form */
.form {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.87);;
  max-width: 350px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.form .thumbnail {
  margin: 0 auto 30px;
  padding: 15px 30px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form .thumbnail img {
  display: block;
  width: 100%;
}
.form input {
  outline: 0;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;

  background: 0;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(255,0,0,1.00);
  border-radius: 0;
}

.form input:focus, input:hover {
  border-bottom: 2px solid rgba(255,0,0,1.00);
}

.form button {
  outline: 0;
  background: #2e3e4e;
  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 25px;
}
.form .message {
  margin: 15px 0 0;
  color: #2e3e4e;
  font-size: 12px;
}
.form .message a {
  color: rgba(255,0,0,1.00);
  text-decoration: none;
}
